h4, text {
    font-family: "Helvetica", sans-serif;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
}

.bar rect, .square rect {
    fill: darkgrey;
}

.bar.negative {
    fill: rgb(240, 126, 110);
}

.bar.positive {
    fill: rgb(140, 140, 140);
}

.axis path {
    stroke: none;
    fill: none;
}

.baseline {
    stroke: black;
}

.baseline-label {
    text-anchor: start;
    alignment-baseline: middle;
}